

html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  width:600px;
  height: 500px;
  background-image: url('./background.svg');
  background-position: center;
  /*Background: linear-gradient(-45deg, #032c38, #032c38, #000000, #000000, #032c38, #032c38);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;*/
}
