/* Home-style.css */

.movies-container {
  max-width: 100%;
  margin: 20px 0;
  overflow-x: auto;
}

.movies-list {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.movie-card {
  width: 300px; 
  min-width: 200px; 
  padding: 15px;
  background-color: #343a40;
  border: 2px solid #61dafb;
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  background-color: #61dafb;
  color: #282c34;
  transform: scale(1.05);
}

.movie-header {
  flex-grow: 1;
}

.movie-title {
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.movie-info {
  margin-top: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.delete-button,
.view-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #e53935;
  color: #ffffff;
}

.delete-button:hover {
  background-color: #a11a1a;
}

.view-button {
  background-color: #2196f3;
  color: #ffffff;
}

.view-button:hover {
  background-color: #1565c0;
}
