/* NameIdeasPage.css */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name-ideas-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.name-ideas-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.name-ideas-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;

  border: none;
  border-bottom: 1px solid #ffffff;
  color: #999999;
  background: transparent;
  outline: none;
}

.add-idea-button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-idea-button:hover {
  background-color: #24792a;
}

.name-ideas-list {
  list-style: none;
  padding: 0;
}

.name-ideas-card {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  cursor: pointer;

  background-color: #343a40;
  cursor: pointer;
}

.name-ideas-card:hover {
  background-color: #747474;
}

.idea-header {
  flex-grow: 1;
}

.idea-title-text {
  font-size: 20px;
  margin: 0;
  color: #fff;
}

.idea-buttons {
  display: flex;
}

.delete-idea-button {
  padding: 10px;
  font-size: 16px;
  background-color: #e53935;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.delete-idea-button:hover {
  background-color: #a11a1a;
}
