/* styles.css */

/* Title style */
.title-playlist {
    color: white;
  }
  
  /* Remove button style */
  .remove-button {
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
  }
  