/* Post-style.css */

.post {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* Post-style.css */
.post-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space content evenly */
  align-items: flex-start; /* Align content to the top */
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post {
  flex: 1; /* Take up available space */
}

.ratings {
  flex: 1; /* Take up available space */
  margin-left: 20px; /* Add some space between Post and Ratings */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.director,
.genre,
.date,
.username {
  font-size: 16px;
  margin-bottom: 5px;
}

.ratings {
  margin-top: 20px;
}

.ratingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  border: 1px solid #808080;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.remove-button {
  background-color: #ff3333;
  margin-top: 5px;
}

.Comments {
  margin-top: 20px;
}

.Commentbox {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="string"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

li .title {
  flex: 1;
  font-size: 16px;
}

li button.remove-button {
  background-color: #ff3333;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
